# (Analyzing Police Activity)

> The data is collected to analyize traffic stops and what affects a police officers to take an action
> Source : http://openpolicing.stanford.edu/ 
#### The data consists of 2 csv file and a merged dataset from the 2 datasets:
- police.csv : contains the date for each stop,driver gender,driver race,violation,arrested or not and other many
- weather_subset : contains date and temparture at this date
- police_weather : merged dataset from the previous two ,in order to analyze police activity with weather

In [10]:
# import all packages and set plots to be embedded inline

######YOUR CODE HERE####### approx ~ 3-5 lines

######END CODE HERE########

In [27]:
# Load the dataset

######YOUR CODE HERE####### approx ~ 1 line

######END CODE HERE########

### Features of interest
- driver gender
- driver race
- stop_outcome
- temperature
- violation
- is_arrested

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

## First let's take a look on the difference in gender of the drivers

In [1]:
######YOUR CODE HERE####### approx ~ 2-3 lines

######END CODE HERE########

## Check percentage of arrested drivers on the stoppings

In [2]:
######YOUR CODE HERE####### approx ~ 1-2 lines

######END CODE HERE########

### Check most common stop duration

In [3]:
######YOUR CODE HERE####### approx ~ 2-3 lines

######END CODE HERE########

### What is the common race in the dataset ?

In [4]:
######YOUR CODE HERE####### approx ~ 2-4 lines

######END CODE HERE########

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Check which violation is more common

In [5]:
######YOUR CODE HERE####### approx ~ 2-3 lines

######END CODE HERE########

### See if there is any relationship between the gender and violation made

In [6]:
######YOUR CODE HERE####### approx ~ 1 line

######END CODE HERE########

### Explore if males make more violations than females or this is just because of the imbalance in the data set so let's normalize!

In [46]:
males_violations = police_weather[police_weather['driver_gender'] == 'M'].violation
females_violations = police_weather[police_weather['driver_gender'] == 'F'].violation

In [47]:
males_proportion = males_violations.value_counts() / len(males_violations)
females_proportion = females_violations.value_counts() / len(females_violations)
mixed = pd.DataFrame([males_proportion,females_proportion]).T
mixed.columns = ['Males','Females']
mixed

                        Males   Females
Speeding             0.522243  0.658114
Moving violation     0.206144  0.138218
Equipment            0.134158  0.105199
Other                0.058985  0.029738
Registration/plates  0.042175  0.044418
Seat belt            0.036296  0.024312

In [7]:
######YOUR CODE HERE####### approx ~ 1-2 lines

######END CODE HERE########

## Let's see if the police in rhods is racist!

In [55]:
ct_counts = police_weather.groupby(['is_arrested', 'driver_race']).size()
ct_counts = ct_counts.reset_index()
ct_counts = ct_counts.pivot(index = 'driver_race', columns = 'is_arrested')
ct_counts.columns = ['not_arrested','arrested']
ct_counts['arrested_percentage'] = ct_counts.arrested / ct_counts.sum(axis=1)
ct_counts.head()

             not_arrested  arrested  arrested_percentage
driver_race
Asian                2343        46             0.019255
Black               11516       769             0.062597
Hispanic             9122       605             0.062198
Other                 263         2             0.007547
White               60214      1656             0.026766

In [8]:
######YOUR CODE HERE####### approx ~ 2-3 lines

######END CODE HERE########

## Does weather affects arresting rate ?

In [58]:
# Feature select the temperature from TMAX,TMIN -> TAVG
police_weather['TAVG'] = (police_weather['TMAX'] + police_weather['TMIN']) / 2

In [9]:
######YOUR CODE HERE####### approx ~ 1 line

######END CODE HERE########

##  Multivariate Exploration:
### Does temprature affects arrestance ?

In [66]:
# Make temperature categorical
police_weather['temp_cat'] = pd.cut(police_weather.TAVG,np.array([7,39,53,67,88]),labels = ['Low','Mid','High','Very High'])

temp_arrestance = police_weather[['temp_cat','is_arrested','violation']].groupby(['violation','temp_cat']).count()
temp_arrestance = temp_arrestance.reset_index()

temp_arrestance.head()

          violation   temp_cat  is_arrested
0         Equipment        Low         2819
1         Equipment        Mid         2709
2         Equipment       High         2586
3         Equipment  Very High         2800
4  Moving violation        Low         3928

In [86]:
######YOUR CODE HERE####### approx ~ 1 line

######END CODE HERE########